{{ define "packet/online_edit.html" }}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结构体数组渲染</title>
</head>
<body>

<button onclick="makePostRequest()">删除这行云包</button>

<script>
    function makePostRequest() {
        // 获取编辑框中的内容
        const name = document.getElementById("name").value;

        // 创建 POST 请求
        const xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/v1/packet/delete/"+name);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function() {
            if (xhr.status === 200) {
                alert(xhr.responseText);
                location.reload()
            } else {
                alert("Request failed.  Returned status of " + xhr.status);
            }
        };
        xhr.send(JSON.stringify({
            id: parseInt(name),
        }));
    }
</script>

<input type="text" id="name" placeholder="想删除的封包编号">

<h4 align="center">云包列表</h4>
{{ range $i, $v := .packets }}
<span id="idd">{{ $v.Id }}</span>
<span>{{ $v.Region }}</span>
<span>{{ $v.Name }}</span>
<span>内容暂时无法编辑</span>
<span>{{ $v.Channel }}</span>
<span>{{ $v.Uploader }}</span>
<span>{{ $v.Time }}</span>
<br>

{{ end }}
</body>
</html>
{{ end }}
