{{ define "packet/online_edit.html" }}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结构体数组渲染</title>
</head>
<body>

<h4 align="center">云包列表</h4>
{{ range $i, $v := .packets }}
<span>{{ $i }}</span>
<span id="idd">{{ $v.ID }}</span>
<span>{{ $v.Region }}</span>
<span>{{ $v.Name }}</span>
<span>内容暂时无法编辑</span>
<span>{{ $v.Channel }}</span>
<span>{{ $v.Uploader }}</span>
<span>{{ $v.Time }}</span>
<span>{{ $v.SendTiming }}</span>
<button id="post-btn" onclick="call(15)">删除该行</button>
</br>

{{ end }}
</body>
</html>
{{ end }}

<script >
    function call(id) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "127.0.0.1:8888/v1/user/delete/", false);  //建立连接，要求同步响应
        xhr.send("ID="+id);  //发送请求
        alert(xhr.responseText);  //接收数据

        const response = fetch('127.0.0.1:8888/v1/user/delete/15', {
                        method: 'get',
                        body: {
                            // Your body
                        }
                    });
        alert("1 "+response)
    }

    // const button = document.getElementById('post-btn');
    //
    // button.addEventListener('click', async _ => {
    //     try {
    //         const response = await fetch('127.0.0.1:8888/v1/user/delete/', {
    //             method: 'get',
    //             body: {
    //                 // Your body
    //             }
    //         });
    //         console.log('Completed!', response);
    //     } catch(err) {
    //         console.error(`Error: ${err}`);
    //     }
    // });
</script>